services:
  backup:
    build: .
    volumes:
      # volumes for dev
      - .:/workspace
      - ~/.kube:/tmp/.kube:ro
      - ~/.config/gcloud:/tmp/gcloud:ro
    entrypoint: 
      - bash
      - -c
      - |
        cp -r /tmp/.kube /root/.kube
        
        rm -rf /root/.config/gcloud
        cp -r /tmp/gcloud /root/.config/gcloud
        
        if [ -n "$KUBECONTEXT" ]; then
          kubectl config use-context "$KUBECONTEXT"
        fi

        echo "Starting backup-tooltoy with dev mode..."
        tail -f /dev/null
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"