version: '3'
set: [pipefail]

includes:
  databases:
    taskfile: "./databases/Taskfile.yml"
    internal: true
  storages:
    taskfile: "./storages/Taskfile.yml"
    internal: true

vars:
  BACKUP_ID:
    sh: |
      echo $(date '+%y-%m-%dt%H-%M-%Sz')_$(openssl rand -hex 5)
  BACKUP_DIR: "/data/{{ .BACKUP_ID }}"
  STORAGE_ENV_DIR: "/workspace/storage-env-files"
  STORAGE_ENV_FILES: 
    sh: "ls {{ .STORAGE_ENV_DIR }}"

tasks:
  run:
    requires:
      vars:
        - name: DB_TYPE
          enum: ['postgresql', 'sealedSecrets', 'pvc']
    cmds:
      - mkdir -p {{ .BACKUP_DIR }}
      - defer: rm -rf {{ .BACKUP_DIR }}
      - task: "databases:{{ .DB_TYPE }}:backup"
      - for:
          var: STORAGE_ENV_FILES
        task: storages:upload
        vars:
          STORAGE_ENV_FILE: '{{ .ITEM }}'