version: '3'
set: [pipefail]

includes:
  databases:
    taskfile: "./databases/Taskfile.yml"
    internal: true

vars:
  BACKUP_ID:
    sh: |
      echo $(date '+%y-%m-%dt%H-%M-%Sz')_$(openssl rand -hex 5)
  BACKUP_DIR: "/data/{{ .BACKUP_ID }}"
  STORAGE_ENV_DIR: "/workspace/storage-env-files"
  STORAGE_ENV_FILES: 
    sh: "ls {{ .STORAGE_ENV_DIR }}"

env:
  BACKUP_DIR: "{{ .BACKUP_DIR }}"
  BACKUP_ID: "{{ .BACKUP_ID }}"

tasks:
  upload:
    vars:
      STORAGE_TYPE: '{{ mustRegexSplit "-" .STORAGE_ENV_FILE 2 | first }}'
    requires:
      vars:
        - STORAGE_ENV_FILE
    preconditions:
      - sh: |
          [ -f "/workspace/storage-env-files/{{ .STORAGE_ENV_FILE }}" ]
        msg: "Storage env file '/workspace/storage-env-files/{{ .STORAGE_ENV_FILE }}' not found."
    cmds:
      - |
        export ENV_FILE={{ .STORAGE_ENV_FILE }} 
        export STORAGE_TYPE={{ .STORAGE_TYPE }}
        
        task -d /workspace/storages upload 

  run:
    requires:
      vars:
        - name: DB_TYPE
          enum: ['postgresql', 'sealedSecrets', 'pvc']
    cmds:
      - mkdir -p {{ .BACKUP_DIR }}
      - defer: rm -rf {{ .BACKUP_DIR }}
      - task: "databases:{{ .DB_TYPE }}:backup"
      - for:
          var: STORAGE_ENV_FILES
        task: upload
        vars:
          STORAGE_ENV_FILE: '{{ .ITEM }}'