apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "postgresql-ha.fullname" $ }}-setup
  annotations:
    {{- toYaml .Values.setupJob.annotations | nindent 4 }}
spec:
  template:
    spec:
      containers:
        - name: main
          image: "{{ .Values.setupJob.image.repository }}:{{ .Values.setupJob.image.tag }}"
          imagePullPolicy: {{ .Values.setupJob.image.pullPolicy }}
          command: ["echo",  "Setup job for primary node completed."]
          env:
            - name: MASTER_PGHOST
              value: {{ include "postgresql-ha.fullname" $ }}-primary-0.{{ include "postgresql-ha.fullname" $ }}-primary-hl.{{ $.Release.Namespace }}.svc
            - name: MASTER_PGPORT
              value: "5432"

            - name: MASTER_PGDATABASE
              value: postgres
            - name: MASTER_PGUSER
              value: postgres
            - name: MASTER_PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ tpl ($.Values.auth.existingSecret.name | required "A secret name .Values.auth.existingSecret.name must be provided for the Postgres password") $ }}
                  key: {{ $.Values.auth.existingSecret.postgresPasswordKey }}
      restartPolicy: Never
  backoffLimit: 4