version: '3'

includes:
  s3: ./s3.taskfile.yml
  gcs: ./gcs.taskfile.yml

dotenv:
  - /workspace/storage-env-files/{{ .ENV_FILE }}

tasks:
  _upload:
    internal: true
    dotenv:
      - /workspace/storage-env-files/{{ .ENV_FILE }}
    cmds:
      - task: "{{ .STORAGE_TYPE }}:init"
        vars:
          ENV_FILE: '{{ .ENV_FILE }}'
      - task: "{{ .STORAGE_TYPE }}:upload"
        vars:
          ENV_FILE: '{{ .ENV_FILE }}'
      - task: "{{ .STORAGE_TYPE }}:clean"
        vars:
          ENV_FILE: '{{ .ENV_FILE }}'
  
  _skip:
    internal: true

  upload:
    requires:
      vars:
        - ENV_FILE
        - name: STORAGE_TYPE
          enum: ['s3', 'gcs']
    vars:
      IGNORE: '{{ .IGNORE | default "false" }}'
    preconditions:
      - sh: |
          [ "{{ .IGNORE }}" == "true" ] || [ "{{ .IGNORE }}" == "false" ]
        msg: "IGNORE must be 'true' or 'false'. Got '{{ .IGNORE }}'."
    cmds:
      - task: '{{ if eq .IGNORE "true" }}_skip{{ else }}_upload{{ end }}'