version: '3'

tasks:
  backup:
    requires:
      vars:
        - BACKUP_ID
        - BACKUP_DIR
        - KUBE_VOLUME_SNAPSHOT_CLASS

        - KUBE_PVC_NAMESPACE
        - KUBE_PVC_NAME
    preconditions:
      - sh: kubectl get pvc {{ .KUBE_PVC_NAME }} -n {{ .KUBE_PVC_NAMESPACE }}
        msg: PVC '{{ .KUBE_PVC_NAME }}' not found in namespace '{{ .KUBE_PVC_NAMESPACE }}'.
    vars:
      KUBE_VOLUME_SNAPSHOT_NAME: '{{ .KUBE_PVC_NAME }}-{{ .BACKUP_ID | replace "_" "-" }}'
    cmds: 
      - |
        cat > /tmp/vs.yaml <<- "EOF"
        apiVersion: snapshot.storage.k8s.io/v1
        kind: VolumeSnapshot
        metadata:
          name: {{ .KUBE_VOLUME_SNAPSHOT_NAME }}
          namespace: {{ .KUBE_PVC_NAMESPACE }}
        spec:
          volumeSnapshotClassName: {{ .KUBE_VOLUME_SNAPSHOT_CLASS }}
          source:
            persistentVolumeClaimName: {{ .KUBE_PVC_NAME }}
        EOF
      # - defer: rm -f /tmp/vs.yaml
      # - |
      #   kubectl apply -f /tmp/vs.yaml
      # - defer: kubectl delete -f /tmp/vs.yaml
      # - |
      #   # Wait until the VolumeSnapshot is ready to use
      #   until kubectl get volumesnapshot {{ .KUBE_VOLUME_SNAPSHOT_NAME }} -n {{ .KUBE_PVC_NAMESPACE }} -o jsonpath='{.status.readyToUse}' | grep true; do
      #     echo "Waiting for VolumeSnapshot to be ready..."
      #     sleep 10
      #   done
      #   echo "VolumeSnapshot is ready to use."
      - 