- name: "Load user configuration - {{ user_file }}"
  set_fact:
    user_config: "{{ lookup('ansible.builtin.file', user_file) | from_yaml }}"
    username: "{{ user_file | basename | regex_replace('\\.yml$', '') }}"
  
- name: GRANT groups to {{ username  }}
  community.postgresql.postgresql_membership:
    groups: "{{ user_config.groups | default([]) }}"
    target_role: "{{ username }}"
    state: exact
