name: GitHub Action Notifications

on: 
  workflow_call:
    inputs:
      ENV_NAME:
        description: 'The environment name'
        type: string
        default: 'noti'
      noti_type: 
        description: 'The type of notification to send'
        required: true
        type: string
      message:
        description: 'The notification message'
        required: true
        type: string

      TELEGRAM_CHAT_ID:
        description: 'Telegram Chat ID'
        required: false
        type: string
      TELEGRAM_THREAD_ID:
        description: 'Telegram Thread ID'
        required: false
        type: string

      TELEGRAM_PARSE_MODE:
        description: 'Telegram Parse Mode'
        required: false
        type: string
        default: 'MarkdownV2'
    
    secrets:
      TELEGRAM_BOT_TOKEN:
        description: 'Telegram Bot Token'
        required: false
      

jobs:
  send-notification:
    name: Send Notification
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENV_NAME }}
    container:
      image: golang:1.25.3-alpine
    steps:
      - name: Presiquisites
        run: |
          apk add --no-cache curl jq
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Parse message
        id: parse-message
        run: |
          id=$RANDOM
          
          cat > ./message-$id.tpl <<'EOF'
          ${{ inputs.message }}
          EOF

          echo Message template:
          cat ./message-$id.tpl

          echo Parsed message:
          go run ./.github/workflows/lib/parse_template.go -f ./message-$id.tpl > ./message-$id-parsed.txt
          cat ./message-$id-parsed.txt && echo

          echo Telegram message data:
          echo '{
                  "chat_id": "${{ inputs.TELEGRAM_CHAT_ID }}",
                  "message_thread_id": "${{ inputs.TELEGRAM_THREAD_ID }}",
                  "parse_mode": "${{ inputs.TELEGRAM_PARSE_MODE }}"
              }' | jq > ./message-$id-data.json
          
          jq --arg data "$(cat ./message-$id-parsed.txt)" '.text = $data' ./message-$id-data.json > ./message-$id-data-tmp.json
          mv ./message-$id-data-tmp.json ./message-$id-data.json

          sed -i -e 's/\\/\\\\/g; s/-/\\-/g' ./message-$id-data.json

          cat ./message-$id-data.json
          echo "data_file=$(realpath ./message-$id-data.json)" >> $GITHUB_OUTPUT

      - name: Send ${{ inputs.noti_type }} Notification
        run: |
          if [ "${{ inputs.noti_type }}" = "telegram" ]; then
            curl --location --globoff --request GET 'https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage' \
              --fail-with-body \
              --header 'Content-Type: application/json' \
              --data '@${{ steps.parse-message.outputs.data_file }}'
          else
            echo "Notification type ${{ inputs.noti_type }} is not supported."
            exit 1
          fi